<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Address</title>
</head>
<div>
<h2>Add: </h2>
<form action="{{ url_for('insertIntoAddresses') }}" method="post">
   <p>Please enter the new Address:</p>
   <input type="text" name="i1" size="60"/> <br>
   Please enter the new ZIP code:<br>
   <input type="text" name="i2"/> <br>
    <button type="submit">Finalize selection</button>
</form>
</div>
<div>
    {%if added%}
        Added {{added}}
    {%endif%}
    </div>
    <div>
        <a href="{{url_for("home")}}">Return Home</a href>
    </div>
</body>
</html>
