<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Database</title>
</head>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new EmployeeID:</p>
   <input type="text" value="000000000A" id="i1">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new SSN:</p>
   <input type="text" value="000-00-0000" id = "i2">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Name:</p>
   <input type="text" value="John Smith" id = "i3">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Gender:</p>
   <input type="text" value="None" id = "i4">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Date of Birth as yyyy-mm-dd:</p>
   <input type="text" value="1950-01-01" id = "i5">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Primary Address:</p>
   <input type="text" value="1 Main Street" id = "i6">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Phone Number:</p>
   <input type="text" value="111-111-1111" id = "i7">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Highest Degree:</p>
   <input type="text" value="Bachelor's" id = "i8">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Years of Experience:</p>
   <input type="text" value="0" id = "i9">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Hiring Position:</p>
   <input type="text" value="Research Scientist" id = "i10">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Hiring Salary:</p>
   <input type="text" value="50000" id = "i11">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Current Position:</p>
   <input type="text" value="Research Scientist" id = "i12">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Current Salary:</p>
   <input type="text" value="50000" id = "i13">
</form>
</div>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new Health Insurance Coverage:</p>
   <input type="text" value="company" id = "14">
</form>
</div>
<div>
      <!-- Will need some change to make sure it gets the right values -->
  <a href="'/insert-EmployeeInfo-document.getElementById("i1").value()-<ssn>-<name>-<gender>-<DoB>-<address>-<phone>-<degree>-<years>-<hiringPosition>-<hiringSalary>-<currentPosition>-<currentSalary>-<coverage>/'">Finalize selection</a>
</div>
</body>
</html>
