<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee With Info</title>
</head>
<div>
<h2>Add: </h2>
<form action="{{ url_for('insertIntoEmployeeInfo') }}" method="post">
   <p>Please enter the new EmployeeID:</p>
   <input type="text" name="id"/> <br>
   Please enter the new SSN:<br>
   <input type="text" name="ssn"/> <br>
   Please enter the new Name:<br>
   <input type="text" name="name"/> <br>
   Please enter the new Gender:<br>
   <input type="text" name="gender"/> <br>
   Please enter the new Date of Birth as yyyy-mm-dd:<br>
   <input type="text" name="birth"/> <br>
   Please enter the new Primary Address:<br>
   <input type="text" name="address" size="60"/> <br>
   Please enter the new Phone Number:<br>
   <input type="text" name="phone"/> <br>
   Please enter the new Highest Degree:<br>
   <input type="text" name="degree"/> <br>
   Please enter the new Years of Experience:<br>
   <input type="text" name="experience"/> <br>
   Please enter the new Hiring Position:<br>
   <input type="text" name="hPosition" size="30"/> <br>
   Please enter the new Hiring Salary:<br>
   <input type="text" name="hSalary"/> <br>
   Please enter the new Current Position:<br>
   <input type="text" name="position" size="30"/> <br>
   Please enter the new Current Salary:<br>
   <input type="text" name="salary"/> <br>
   Please enter the new Health Insurance Coverage:<br>
   <input type="text" name="insurance"/> <br>
    <button type="submit">Finalize selection</button>
</form>
</div>
<div>
    {%if added%}
        Added {{added}}
    {%endif%}
    </div>
    <div>
        <a href="{{url_for("home")}}">Return Home</a href>
    </div>
</body>
</html>
