<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Database</title>
</head>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the new EmployeeID:</p>
   <input type="text" name="i1"/> <br>
   <p>Please enter the new SSN:</p>
   <input type="text" name="i2"/> <br>
   <p>Please enter the new Name:</p>
   <input type="text" name="i3"/> <br>
   <p>Please enter the new Gender:</p>
   <input type="text" name="i4"/> <br>
   <p>Please enter the new Date of Birth as yyyy-mm-dd:</p>
   <input type="text" name="i5"/> <br>
   <p>Please enter the new Primary Address:</p>
   <input type="text" name="i6"/> <br>
   <p>Please enter the new Phone Number:</p>
   <input type="text" name="i7"/> <br>
   <p>Please enter the new Highest Degree:</p>
   <input type="text" name="i8"/> <br>
   <p>Please enter the new Years of Experience:</p>
   <input type="text" name="i9"/> <br>
   <p>Please enter the new Hiring Position:</p>
   <input type="text" name="i10"/> <br>
   <p>Please enter the new Hiring Salary:</p>
   <input type="text" name="i11"/> <br>
   <p>Please enter the new Current Position:</p>
   <input type="text" name="i12"/> <br>
   <p>Please enter the new Current Salary:</p>
   <input type="text" name="i13"/> <br>
   <p>Please enter the new Health Insurance Coverage:</p>
   <input type="text" name="i14"/> <br>
</form>
</div>
<div>
      <!-- Will need some change to make sure it gets the right values -->
  <a href="'/insert-EmployeeInfo/'">Finalize selection</a>
</div>
</body>
</html>
