<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Health Insurance</title>
</head>
<div>
<h2>Add: </h2>
<form method="post"> <!--action="{{ url_for('insertIntoHealthInsurance') }}",-->
   <p>Please enter the new type of coverage:</p>
   <input type="text" name="insertHI"/> <br>
    <button type="submit">Finalize selection</button>
</form>
</div>
<div>
{%if added%}
    Added {{added}}
{%endif%}
</div>
<div>
    <a href="{{url_for("home")}}">Return Home</a href>
</div>
</body>
</html>
