<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Projects</title>
</head>
<div>
<h2>Add: </h2>
<form action="{{ url_for('insertIntoProjects') }}" method="post">
   <p>Please enter the new Project:</p>
   <input type="text" name="projectName"/> <br>
   <p>Please enter the new Department:</p>
   <input type="text" name="department"/> <br>
   <p>Please enter the new ProjectLeader:</p>
   <input type="text" name="leader"/> <br>
   <p>Please enter the new Status:</p>
   <input type="text" name="status"/> <br>
    <button type="submit">Finalize selection</button>
</form>
</div>
<div>
    {%if added%}
        Added {{added}}
    {%endif%}
    </div>
    <div>
        <a href="{{url_for("home")}}">Return Home</a href>
    </div>
</body>
</html>
