<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Database</title>
</head>
<body>
  <div>
  <h2>Add: </h2>
  <form action="/url" method="GET">
        <p>Please enter the role to delete upon:</p>
        <input type="text" placeholder="0">
  </form>
  </div>
  
  <div>
      <!-- Will need some change to make sure it gets the right values -->
    <a href="/delete-Roles-role-<value>-role-<cond2>/">Finalize selection</a>
  </div>
</body>
</html>
