<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Employee Assignments</title>
</head>
<body>
  <div>
 <form action = "{{ url_for('deleteEmpDep') }}" method="post">
     <h2>Add the attribute to be deleted upon</h2>
         <select name = "att">
          <option attribute = "EmployeeID">Employee ID</option>
          <option attribute = "Department">Department</option>
          <option attribute = "StartDate">Start Date (yyyy-mm-dd)</option>
          <option attribute = "EndDate">End Date (yyyy-mm-dd)</option>
         </select>
     <h2>Please enter the value to be deleted:</h2>
         <input type="text" placeholder="0" name="old">
     
     <button type="submit">Finalize selection</button>
 </form>
</div>
<div>
    <a href="{{url_for("home")}}">Home</a href>
</div>
</body>
</html>
