<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Addresses</title>
</head>
<body>
  <div>
 <form action = "{{ url_for('delete') }}" method="post">
     <h2>"Select" the table (it's for the code): </h2>
         <select name = "i1">
            <option attribute = "Addresses">Addresses</option>
         </select>
     <h2>Add the attribute to be deleted upon</h2>
         <select name = "i2">
          <option attribute = "address">Address</option>
          <option attribute = "zipCode">Zip code</option>
         </select>
     <h2>Please enter the value to be deleted:</h2>
         <input type="text" placeholder="0" name="i3">
     
     <button type="submit">Finalize selection</button>
 </form>
</div>
</body>
</html>
