<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Employee Info</title>
</head>
<body>
  <div>
 <form action = "{{ url_for('deleteEmpInfo') }}" method="post">
     <h2>Delete Employee with</h2>
         <select name = "att">
          <option value = "EmployeeID">Employee ID</option>
          <option value = "SSN">SSN</option>
          <option value = "Name">Name</option>
          <option value = "Gender">Gender</option>
          <option value = "DoB">Birthdate (yyyy-mm-dd)</option>
          <option value = "PrimaryAddress">Primary Address</option>
          <option value = "PhoneNumber">Phone Number</option>
          <option value = "HighestDegree">Highest Degree</option>
          <option value = "YearsExperience">Years Experience</option>
          <option value = "HiringPosition">Hiring Position</option>
          <option value = "HiringSalary">Hiring Salary</option>
          <option value = "CurrentPosition">Current Position</option>
          <option value = "CurrentSalary">Current Salary</option>
          <option value = "Coverage">Health Insurance Coverage</option>
         </select>
     <h2>Equaling:</h2>
         <input type="text" name="old">
     
     <button type="submit">Finalize selection</button>
 </form>
</div>
<div>
    <a href="{{url_for("home")}}">Home</a href>
</div>
</body>
</html>
