<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Project Status</title>
</head>
<body>
<div>
<form action = "{{ url_for('delete') }}" method="post">
 <h2>"Select" the table (it's for the code): </h2>
 <select name = "i1">
     <option attribute = "ProjectStatus">Project Status</option>
 </select>
 <h2>Add the attribute to be deleted upon</h2>
 <select name = "i2">
      <option attribute = "status">Status</option>
 </select>
 <h2>Please enter the status to be deleted:</h2>
        <input type="text" placeholder="0" name = "i3">

  <button type="submit">Finalize selection</button>
  </div>
</form>
</body>
</html>
