<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Database</title>
</head>
<body>
  <div>
  <h2>"Select" the table (it's for the code): </h2>
  <form>
    <select name = "i1">
      <option attribute = "Benefits">Benefits</option>
    </select>
  </form>
  </div>
  <div>
  <h2>Add the attribute to be deleted upon</h2>
  <form>
    <select name = "i2">
      <option attribute = "benefit">Benefit</option>
    </select>
  </form>
  </div>
  <div>
  <h2>Add: </h2>
  <form action="/url" method="GET">
        <p>Please enter the benefit to delete:</p>
        <input type="text" placeholder="0" name = "i3">
  </form>
  </div>
  
  <div>
      <!-- Will need some change to make sure it gets the right values -->
    <a href="/delete/">Finalize selection</a>
  </div>
</body>
</html>
