<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Database</title>
</head>
<body>
  <div>
  <h2>Add: </h2>
  <form method = "POST">
    <select name = "addRow">
      <option addingTable = "insurance">Health Insurance</option>
      <option addingTable = "benefit">Benefit Type</option>
      <option addingTable = "status">Project Status</option>
      <option addingTable = "address">Address</option>
      <option addingTable = "position">Job Position</option>
      <option addingTable = "department">Department</option>
      <option addingTable = "employee">Employee</option>
      <option addingTable = "empBenefit">Employee's Benefit</option>
      <option addingTable = "project">Project</option>
      <option addingTable = "role">Role</option>
      <option addingTable = "empProject">Employee's Project</option>
      <option addingTable = "empDep">Employee's Department</option>
    </select>
    <input type = "submit" value = "Go">
  </form>
  </div>
  <div>
    <h2>Update: </h2>
    <form method = "POST">
      <select name = "updateRow">
        <option updateTable = "insurance">Health Insurance</option>
        <option updateTable = "benefit">Benefit Type</option>
        <option updateTable = "status">Project Status</option>
        <option updateTable = "address">Address</option>
        <option updateTable = "position">Job Position</option>
        <option updateTable = "department">Department</option>
        <option updateTable = "employee">Employee</option>
        <option updateTable = "empBenefit">Employee's Benefit</option>
        <option updateTable = "project">Project</option>
        <option updateTable = "role">Role</option>
        <option updateTable = "empProject">Employee's Project</option>
        <option updateTable = "empDep">Employee's Department</option>
      </select>
      <input type = "submit" value = "Go">
    </form>
  </div>
  <div>
  <h2>Delete: </h2>
  <form method = "POST">
    <select name = "deleteRow">
      <option deletingTable = "insurance">Health Insurance</option>
      <option deletingTable = "benefit">Benefit Type</option>
      <option deletingTable = "status">Project Status</option>
      <option deletingTable = "address">Address</option>
      <option deletingTable = "position">Job Position</option>
      <option deletingTable = "department">Department</option>
      <option deletingTable = "employee">Employee</option>
      <option deletingTable = "empBenefit">Employee's Benefit</option>
      <option deletingTable = "project">Project</option>
      <option deletingTable = "role">Role</option>
      <option deletingTable = "empProject">Employee's Project</option>
      <option deletingTable = "empDep">Employee's Department</option>
    </select>
    <input type = "submit" value = "Go">
  </form>
  </div>
  <div>
    <h2><a href="/query/">Query</href></h2>
  </div>
</body>
</html>

<!-- 
<h1>Add a new type of Health Insurance coverage!</h1>
  <p><a href="/addinsurance/">Click here!</a></p>
  <h2>Add a new type of benefit!</h2>
  <p><a href="/addbenefit/">Click here!</a></p>
  <h3>Add a new type of project status!</h3>
  <p><a href="/addstatus/">Click here!</a></p>
  <h4>Add a new address with ZIP code!</h4>
  <p><a href="/addaddress/">Click here!</a></p>
  <h5>Add a new job position!</h5>
  <p><a href="/addposition/">Click here!</a></p>
  <h6>Add a new department!</h6>
  <p><a href="/adddepartment/">Click here!</a></p>
  <h7>Add info for a new employee!</h7>
  <p><a href="/addemployee/">Click here!</a></p>
  <h8>Add a new employee benefit!</h8>
  <p><a href="/addempbenefit/">Click here!</a></p>
  <h9>Add a new project!</h9>
  <p><a href="/addproject/">Click here!</a></p>
  <h10>Add a new role!</h10>
  <p><a href="/addrole/">Click here!</a></p>
  <h11>Add new info about an employee and their project!</h11>
  <p><a href="/addempproj/">Click here!</a></p>
  <h12>Add a new employee assignment!</h12>
  <p><a href="/addassignment/">Click here!</a></p>
  <h13>Update a table!</h13>
  <p><a href="/update/">Click here!</a></p>
  <h14>Delete from a table!</h14>
  <p><a href="/delete/">Click here!</a></p>
  <h15>Select a query!</h15>
  <p><a href="/query/">Click here!</a></p> -->