<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding the current role of an employee</title>
</head>
<div>
<h2>Add: </h2>
<form action = "{{ url_for('query11') }}" method="post">
    <p>Please enter the employee ID:</p>
   <input type="text" name="i1"/> <br>
    <button type="submit">Finalize selection</button>
</form>

</div>

</body>
</html>
