<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Database</title>
</head>
<body>
  <h2>Show all: </h2>
  <form action = "{{url_for("showall")}}" method="POST">
    <select name = "show">
      <option value = "HealthInsurance">Health Insurance</option>
      <option value = "Benefits">Benefit Type</option>
      <option value = "ProjectStatus">Project Status</option>
      <option value = "Addresses">Address</option>
      <option value = "Positions">Job Position</option>
      <option value = "Departments">Department</option>
      <option value = "Employees">Employee</option>
      <option value = "EmployeeBenefits">Employee's Benefit</option>
      <option value = "Projects">Project</option>
      <option value = "Roles">Role</option>
      <option value = "EmployeeProjects">Employee's Project</option>
      <option value = "EmployeeAssignments">Employee's Department</option>
    </select>
    <input type = "submit" value = "Show"> <!--The problem is actually making this form submit things...-->
  </form>
  <div>
    <h2>Questions</h2>
    <form action = "{{url_for("queryMenu")}}" method = "POST">
      <select name = "q">
        <option value = "1">View an employee's data</option>
        <option value = "2">Find employees of a given department</option>
        <option value = "3">Find employees of a given project</option>
        <option value = "4">Find most common zip code</option>
        <option value = "5">View project info</option>
        <option value = "6">Find number of employees on a given project at a given time</option>
        <option value = "7">Find employees with a certain benefit</option>
        <option value = "8">Find employee with a given role in a given project</option>
        <option value = "9">View active projects</option>
        <option value = "10">View department info</option> <!--Fix this func-->
        <option value = "11">Find current role of a given employee</option>
        <option value = "12">Find all roles of an employee (and their dates)</option>
        <option value = "13">Find number of employees with a given health plan</option>
        <option value = "14">Find number of employees with each health plan</option>
        <option value = "15">Check if salary of underpaid female workers has improved</option>
        <option value = "16">Find min and max salary of a given position</option>
        <option value = "17">Find number of projects for each project status</option>
        <option value = "18">Find start and end date for a given employee for any of their departments</option>
        <option value = "19">View all project leaders and their projects</option>
        <option value = "20">Find employees with salary increases over 20% since starting</option>
        <option value = "21">Find position with highest salary</option>
      </select>
      <input type = "submit" value = "Enter">
    </form>
  </div>
  <div>
    <h2>Find: </h2>
    <form action = "{{url_for("genQuery")}}">
      <select name = "attribute">
        <option value = "emp">Employee</option>
        <option value = "dep">Department</option>
        <option value = "proj">Project</option>
        <option value = "position">Position</option>
        <option value = "ben">Benefit</option>
      </select>
      <select name = "cond">
        <option value = ""></option>
      </select>
      <input type = "submit" value = "Enter">
    </form>
  </div>
  <div>
    <h2>SQL input: </h2>
  <form action = "{{url_for("sql")}}" method = "POST">
    <input type = "text" name = "input">
    <input type = "submit" value = "Enter">
  </form>
</div>
  {%if query%}
  <br></br>
  <table border="1px">
    {% for row in query %}
    <tr>
      {% for r in row %}
      <td> {{ r }} </td>
      {%endfor%}
    </tr>
    {%endfor%}
  </table>
  {%endif%}
  <br>
  <h2><a href="{{url_for("home")}}">Home</a href></h2>
  </br>
</body>
</html>
