{%extends "template.html"%}
{%block title%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding the zip code that most employees live in</title>
</head>

<form action = "{{ url_for('query4') }}" method="post">
    <button type="submit">Finalize selection</button>
</form>
</body>
</html>
{%endblock%}
{%block content%}

{%endblock%}
