{%extends "template.html"%}
{%block title%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding if the salary of underpaid female employees is improved?</title>
</head>
<div>
<h2>Add: </h2>
<form action = "{{ url_for('query15') }}" method="post">
   <p>Please enter the role:</p>
   <input type="text" name="i1"/> <br>
   <p>Please enter the level:</p>
   <input type="text" name="i2"/> <br>
    <button type="submit">Finalize selection</button>
</form>
</div>
</body>
</html>
{%endblock%}
{%block content%}

{%endblock%}
