{%extends "template.html"%}
{%block title%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding the start & end date of a given employee for any of the employee’s department(s)</title>
</head>
<div>
<h2>Add: </h2>
<form action="/url" method="GET">
   <p>Please enter the employee:</p>
   <input type="text" name="i1"/> <br>
   <p>Please enter the department:</p>
   <input type="text" name="i2"/> <br>
</form>
</div>
<div>
      <!-- Will need some change to make sure it gets the right values -->
  <a href="/query18/">Finalize selection</a>
</div>
</body>
</html>
{%endblock%}
{%block content%}

{%endblock%}
