{%extends "template.html"%}
{%block title%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding the number of employees for each and all the types of health plan</title>
</head>

<div>
      <!-- Will need some change to make sure it gets the right values -->
  <a href="/query14/">Query!</a>
</div>
</body>
</html>
{%endblock%}
{%block content%}

{%endblock%}
