<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Database</title>
</head>
<body>
  <h2>Show all: </h2>
  <form action = "/showall/" method="POST">
    <select name = "show">
      <option value = "HealthInsurance">Health Insurance</option>
      <option value = "Benefits">Benefit Type</option>
      <option value = "ProjectStatus">Project Status</option>
      <option value = "Addresses">Address</option>
      <option value = "Positions">Job Position</option>
      <option value = "Departments">Department</option>
      <option value = "Employees">Employee</option>
      <option value = "EmployeeBenefits">Employee's Benefit</option>
      <option value = "Projects">Project</option>
      <option value = "Roles">Role</option>
      <option value = "EmployeeProjects">Employee's Project</option>
      <option value = "EmployeeAssignments">Employee's Department</option>
    </select>
    <input type = "submit" value = "Show"> <!--The problem is actually making this form submit things...-->
  </form>
  {%if query%}
  <table border="1px">
    {% for row in query %}
    <tr>
      {% for r in row %}
      <td> {{ r }} </td>
    </tr>
  </table>
  {%endif%}
  <br>
  <h2><a href="{{url_for("home")}}">Home</a href></h2>
  </br>
</body>
</html>
