<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding who are employees working on a given project</title>
</head>
<div>
<h2>Add: </h2>
<form action = "{{ url_for('query3') }}" method="post">
    <p>Please enter the name of the project:</p>
   <input type="text" name="i1"/> <br>
    <button type="submit">Finalize selection</button>
</form>
</div>
{%if query%}
<br></br>
<table border="1px">
  {% for row in query %}
  <tr>
    {% for r in row %}
    <td> {{ r }} </td>
    {%endfor%}
  </tr>
  {%endfor%}
</table>
{%endif%}
<br>
<h2><a href="{{url_for("home")}}">Home</a href></h2>
</br>
</body>
</html>
