<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Projects</title>
</head>
<body>
<div>
<form action = "{{ url_for('updateProj') }}" method="post">
    <h2>"Select" the table (it's for the code): </h2>
    <h2>Set</h2>
    <select name = "i2">
      <option value = "Project">Project</option>
      <option value = "Department">Department</option>
      <option value = "ProjectLeader">Project Leader</option>
      <option value = "Status">Project Status</option>
    </select>
    <h2>As:</h2>
        <input type="text" name = "new">  
    <h2>For</h2>
    <select name = "i4">
      <option value = "Project">Project</option>
      <option value = "Department">Department</option>
      <option value = "ProjectLeader">Project Leader</option>
      <option value = "Status">Project Status</option>
    </select>
    <h2>Equaling:</h2>
        <input type="text" name = "old">
    <button type="submit">Finalize selection</button>
  </form>
  </div>
  <div>
    <a href="{{url_for("home")}}">Home</a href>
</div>
</body>
</html>
