<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Health Insurance</title>
</head>
<body>
  <div>
 <form action = "{{ url_for('updateHealth') }}" method="post">
    <h2>Update Health Insurance: </h2>
     <h2>Set</h2>
         <select name = "i2">
             <option value = "coverage">Coverage</option>
         </select>
     <h2>As:</h2>
         <input type="text" name="i3">
     <h2>Replacing</h2>
         <select name = "i4">
              <option value = "coverage">Coverage</option>
         </select>
     <h2>Equaling:</h2>
        <input type="text" name="i5">
     <button type="submit">Finalize selection</button>
 </form>
</div>
<div>
<a href="{{url_for("home")}}">Home</a href>
</div>
</body>
</html>


