<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Positions</title>
</head>
<body>
  <div>
 <form action = "{{ url_for('updatePositions') }}" method="post">
     
     <h2>Add the attribute to be updated upon</h2>
         <select name = "i2">
            <option attribute = "Position">position</option>
            <option attribute = "minSalary">mininimum salary</option>
            <option attribute = "maxSalary">maximum salary</option>
         </select>
     <h2>Please enter the new value:</h2>
         <input type="text" placeholder="0" name="new">
     <h2>Add the attribute to of the condition be updated upon</h2>
         <select name = "i4">
            <option attribute = "Position">position</option>
            <option attribute = "minSalary">mininimum salary</option>
            <option attribute = "maxSalary">maximum salary</option>
         </select>
     <h2>Add the condition's value:</h2>
        <input type="text" placeholder="0" name="old">
     <button type="submit">Finalize selection</button>
 </form>
</div>
</body>
</html>
