<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Database</title>
</head>
<body>
  <div>
 <h2>"Select" the table (it's for the code): </h2>
 <form action = "{{ url_for('update') }}" method="post">
     <h2>"Select" the table (it's for the code): </h2>
         <select name = "i1">
             <option attribute = "Roles">Roles</option>
         </select>
     <h2>Add the attribute to be updated upon</h2>
         <select name = "i2">
             <option attribute = "role">Role</option>
         </select>
     <h2>Please enter the new role:</h2>
         <input type="text" placeholder="0" name="i3">
     <h2>Add the attribute to of the condition be updated upon</h2>
         <select name = "i4">
              <option attribute = "role">Role</option>
         </select>
     <h2>Add the old role to replace:</h2>
        <input type="text" placeholder="0" name="i5">
     <button type="submit">Finalize selection</button>
 </form>
</div>
</body>
</html>
