<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee Projects</title>
</head>
<body>
  <div>
 <form action = "{{ url_for('updateEmpProj') }}" method="post">
     <h2>Update Employee Projects</h2>
     <h2>Set</h2>
         <select name = "i2">
              <option value = "EmployeeID">Employee ID</option>
              <option value = "Project">Project</option>
              <option value = "Role">Role</option>
              <option value = "StartDate">Start Date (yyyy-mm-dd)</option>
              <option value = "EndDate">End Date (yyyy-mm-dd)</option>
         </select>
     <h2>As:</h2>
         <input type="text" name="new">
     <h2>Replacing</h2>
         <select name = "i4">
              <option value = "EmployeeID">Employee ID</option>
              <option value = "Project">Project</option>
              <option value = "Role">Role</option>
              <option value = "StartDate">Start Date (yyyy-mm-dd)</option>
              <option value = "EndDate">End Date (yyyy-mm-dd)</option>
         </select>
     <h2>Equaling:</h2>
        <input type="text" name="old">
     <button type="submit">Finalize selection</button>
 </form>
</div>
<div>
    <a href="{{url_for("home")}}">Home</a href>
</div>
</body>
</html>

